@import 'tailwindcss';

@utility box {
  @apply container max-w-7xl mx-auto px-4;
}
@utility border-t-b{
  @apply  border-t-[2px] border-b-[2px]
}
.elem{
@apply size-10 bg-red-300
}
/* logo */
.logo::after {
  content: '©';
  position: absolute;
  font-size: 1.5rem;
  font-weight: 400;
  margin-left: 4px;
  /* background: #000; */
}

.logo::before {
  content: 'Model Management';
  position: absolute;
  font-size: 8px;
  bottom: 12px;
  right: 50%;
  /* 
  font-weight: 300;
  text-align: center;
  right: 50%; */
}

@media (max-width: 768px) {
  .logo::before {
    right: 30%;
  }
}
.marquee {
  animation: scroll 5s linear infinite;
}



@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-100% - 24px));
  }
}